.main_chat
  .main-chat-group-info
    =@group.name
    .main-chat-edit-btn
      = link_to "Edit", edit_group_path(@group.id)
    .main-chat-group-member
      member:
      - @group.users.each do |member|
        = member.name
  .main-chat-message
    = render @messages
    
      
  .main-chat-message-form
    .main-chat-message-input
      .main-chat-message-input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main-chat-message-input-box-2', placeholder: 'type a message'
          = f.label :image, class: 'main-chat-message-input-box-icon' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'none'
          = f.submit 'Send', class: 'main-chat-message-input-box-send-btn'



