.side_bar
  .side-header
    .top-items
      .top-items-name 
        = current_user.name
      .top-items-icons
        = link_to new_group_path do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')

  .side-bar-grouplist
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group-name 
            = group.name
          .group-message 
            まだ何もないよ